/* --------------------normalize----------------------------- */

*{background-color: #8d99ae;
   padding: 0;
   margin: 0;
   box-sizing: border-box;} 

/* ---------------------- box modeling --------------------*/

.titles{
      color: #2b2d42;
      text-align: center;
      text-shadow: 3px 3px 10px #1f2788;
      font-size: 2rem;
      color: #2b2d42;
      display: online;
      animation-name: titles;
      animation-duration: 4s;
      animation-iteration-count:infinite;
}

@keyframes titles {
      0%{color: #2b2d42;}
      16.6%{color: #43aa8b;} 
      33.2%{color: #90be6d;}
      49.8%{color: #f9c74f;}
      66.4%{color: #f8961e;}
      83%{color: #f8961e;}
      100%{color: #577590}
}

.suscribe , .tapToTop{
     display: flex;
     justify-content: center;
     width: auto;
}

.nav{ padding: 1rem;
      margin: 0;
      display: flex;
      width: 100vw;
      flex-wrap: wrap;
      gap:1rem;
      border: 3px solid #264653;
      background-color: #a8dadc;
}

ul{  padding: 0; 
     margin: 0;
     display: flex;
     justify-content: space-around;
     background-color: transparent;
     width: 100vw;
}

li{   padding: 0;
      margin: 0;
      list-style: none;
      background-color: transparent;    
      justify-content:space-between;
     }

img{
      background-color: transparent;
     }


nav ul li a img{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width:2rem;
      }

li a img:hover{
      box-sizing: content-box;
      padding: 1rem;
      width: 3rem;
      border: 3px #2a9d8f dotted;
      border-radius: 40%;
      transition-duration: 1s;
}


div form , article{
      margin: 0;
      width: 100%;
      text-align: center;
}

.parrafe{
      color: #2b2d42;
      margin: 10px 10px;
      padding: 15px;
      background-color: #a8dadc;
      border: 3px solid #2a9d8f;
      box-shadow: 5px 3px 10px #2b2d42;
     }
    
.formulario{
      margin: 20px 0;
      border: 3px solid #2b2d42;
      background-color: #2a9d8f;
      box-shadow: 5px 3px 10px #2b2d42;
     }

label{ 
      margin: 10px;
      font-size: 20px;
      background-color: transparent;
     }

.footer{
      color: #2b2d42;
      padding-top: 100px;
     }

 /* -----------estructura en grid para todos los html (FIRST MOVILE)------------- */

header{
      grid-area: header;
}
.suscribe{
     grid-area: suscribeButton;
}
.articulo1{
      grid-area: mainArticle;
}
articulo2{
      grid-area:optativeArticle;
}
body div{
      grid-area: bodyDiv;
     
}
.tapToTop{
     grid-area: toTopButton;
}
footer{
      grid-area: footer;
}
body{align-content: center;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 1rem;
      grid-template-areas:
      "header" 
      "suscribeButton"
      "mainArticle"
      "optativeArticle"
      "bodyDiv"
      "toTopButton"
      "footer";
}

/* -------------------- media query para tablet-------------------- */

@media (min-width: 600px) {

 /* -----------box-modeling tablet---------------------- */

.titles{
      color: #2b2d42;
      text-align:start;
      padding: 2rem 0;
      text-shadow: 3px 3px 10px #1f2788;
      font-size: auto;
      color: #2b2d42;
      display: online;
}
    
.suscribe , .tapToTop{
     display: flex;
     justify-content: center;
     width: auto;
}
    
.nav{ padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap:1rem;
      margin: 10px -20px;
      border: 3px solid #264653;
      background-color: #a8dadc;
      width: 100vw;
}
    
li{
      list-style: none;
      background-color: transparent;    
      padding: 0;
      justify-content:space-between;
      width: auto;
}
    
ul{  
      display: flex;
      justify-content: space-around;
      background-color: transparent;
      padding: 0;
      width: 100vw;
}
    
img{
      background-color: transparent;
}
    
nav ul li a img{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width:2rem;
}

div form , article{
      width: 100%;
      text-align: center;}
    
.parrafe{
      color: #2b2d42;
      margin: 20px 30px;
      padding: 15px;
      background-color: #a8dadc;
      border: 3px solid #2a9d8f;
      box-shadow: 5px 3px 10px #2b2d42;
}
        
.formulario{
      margin: 20px -5px;
      border: 3px solid #2b2d42;
      background-color: #2a9d8f;
      box-shadow: 5px 3px 10px #2b2d42;
}
    
label{ 
      margin: 10px;
      font-size: 20px;
      background-color: transparent;
}
    
.footer{
     color: #2b2d42;
     padding-top: 100px;
} 

/* ----------------------- GRID de tablet + desktop----------------------- */

body{
      display: grid;
      grid-template-columns: 50%;
      grid-template-rows: auto;
      gap: 1rem;
      grid-template-areas:
      "header         header" 
      "suscribeButton suscribeButton "
      "mainArticle    optativeArticle"
      "bodyDiv        bodyDiv"
      "toTopButton    toTopButton"
      "footer         footer";

}
}
/* pense que iba a necesitar una mediaquery mas, pero vi que me quedo bien con dos columnas, me parecio innecesario agregarla */